.display-cart-products{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .cart-prods{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .link-to-home{
    margin-top: 40px;
    margin-bottom: 30px;
  }