.display-cart-products{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }


  .cart-prods{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .link-to-home{
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 50px;
    position: relative;
    align-items: center;
    justify-content: center;
  }