.cart{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .empty-cart{
    margin-bottom: 50px;;
  }

  .show-cart{
    margin-top:10px;
    margin-bottom: 50px;
    margin-right:20px;
  }

  .empty-do{
    margin-top:10px;
  }